.statsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 2em;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 7px;

  @media (min-width: 700px) {
    .statsСontainer {
      padding: 2em;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}

.statTitle {
  margin-bottom: 1em;
}