* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  
}

#root {
  background-color: #a4aebd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: #3a464c; 
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  line-height: 1.5em;
}

.container {
  padding: 0 1.5em;

  @media (min-width: 700px) {
    .container {
      padding: 0 3em;
    }
  }
  @media (min-width: 1280px) {
    .container {
      padding: 0 10em;
    }
  }
}

.main {
  flex-grow: 1;
}
